language: csharp
mono: latest
# .NET Core
dotnet: 3.1 
script:
  - ./build.sh
  - if [[ $DEPLOY_DOCS = true  && ($TRAVIS_PULL_REQUEST = false && $TRAVIS_BRANCH = master || "$TRAVIS_TAG" != "") ]]; then ./build.sh -t Docs; fi  
deploy:
- provider: pages
  skip_cleanup: true
  keep_history: true
  github_token: "$GITHUB_TOKEN"
  local_dir: docs/temp
  on:
    branch: master
    condition: "$DEPLOY_DOCS = true && $TRAVIS_PULL_REQUEST = false"
- provider: pages
  skip_cleanup: true
  keep_history: true
  github_token: "$GITHUB_TOKEN"
  local_dir: docs/temp
  on:
    tags: true
    condition: "$DEPLOY_DOCS = true"
